* {
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* changes background of page */
body {
    background-color: #F4F9E9;
}
/* changes text on first page */
p {
    color: #284B63;
    font-size: 20px;
}

button {
    outline: none;
    background-color: #B4B8AB;
    color: #153243;
    font-size: 15px;
}
/* puts timer in top right and removes bullet point */
.time {
    float: right;
    list-style: none;
}
/* boxes position */
#boxes{
    position: relative;
}
/* first page design */
#begin {
    position: absolute;
    align-items: center;
    text-align: center;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}
/* questions are display none so that they can be targeted to be turned off and on */
/* #quest1, #quest2, #quest3, #quest4, #quest5 {
    display:none;
} */

.hide {
    display: none;
}

#last {
    display:none;
}
/* high scores */
.scores {
    display: none;
}
/* allows button to be hovered and change color */
button:hover {
    background-color: #6d692d;
    color: white;
}

